server:
  port: 8081

spring:
  application:
    name: event-normalizer
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

infraflow:
  kafka:
    topic:
      pipeline-events: pipeline.events.raw
  github:
    webhook-secret: ${GITHUB_WEBHOOK_SECRET:}

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env,loggers
  endpoint:
    health:
      show-details: always

